* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  text-align: center;
  margin: 3rem 0;
}

.game-board {
  margin: 0 auto;
}

.row--mid .row__field {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.row .row__field--mid {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.row__field {
  width: 20vw;
  height: 20vh;
  text-align: center;
  font-size: 4rem;
}